@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --bs-font-sans-serif: 'Quantico', monospace; 
  --bs-body-font-family: var(--bs-font-sans-serif);
}

body {
  font-family: var(--bs-body-font-family) !important;
}


.btn, .card, .modal, .form-control {
  font-family: 'Quantico', sans-serif !important;
}

.custom-input:focus {
  border-color: red !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25) !important;
}

body {
  background-color: #202020; 
}

.modal-header .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.15rem rgba(255, 0, 0, 0.3); 
}

.accordion-button:not(.collapsed) {
  background-color: #232323; 
  color: #d10000;
  box-shadow: 0 0 0 0.15rem rgba(255, 0, 0, 0.3); 
}

.accordion-button:focus:not(.collapsed) {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5); 
}
